.inviting-users {
    padding: 20px 16px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    border-radius: 8px;
}

.inviting-users__title {
    font-size: 24px;
    font-weight: 500;
}

.inviting-users__create-link {
    display: flex;
    gap: 20px;
}

.btn-copy {
    align-self: flex-end;
    height: 40px;
    color: #00000040;
}
