.user-management {
    padding: 20px 16px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    border-radius: 8px;
}

.user-management__title {
    font-size: 24px;
    font-weight: 500;
}
